requests
spacy
pocketsphinx
pyttsx3
sqlite3
pywhatkit
python-dotenv
pycaw
pyautogui
httpx
beautifulsoup4
psutil
pytesseract
PyPDF2
pillow
torch
hf_xet
# transformers==4.48.0
pygame
transformers
bitsandbytes
accelerate
peft
gradio
